$darkcyan: hsl(185, 75%, 39%);
$desaturatedblue: hsl(229, 23%, 23%);
$grayishblue: hsl(227, 10%, 46%);
$gray: hsl(0, 0%, 59%);
$white: hsl(0, 0, 100%);
$mainfont: 1.125rem;
$linemargin: 1.5625rem;